# SQL Part 1 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free to reference your notebook.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You work for a small independant book store and you want to increase sales by running various promotions.  Start by becoming more familar with the BooksDB.

## Part 1. BooksDB Questions

<span style="color: rgba(0, 0, 0, 0.87); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; background-color: rgb(255, 255, 255);">Question 1:&nbsp; Write a query of the books table, returning the TOP 100 results and&nbsp; includes, book_id, authors, title, average_rating.&nbsp; Use an alias for at least one column and in descending order of rating.&nbsp; What is the number one book?</span>

In [24]:
-- return top 100 results
SELECT TOP 100 book_id, authors, title, average_rating AS 'Average Rating'
FROM books;

book_id,authors,title,Average Rating
2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",4.34
3,"J.K. Rowling, Mary GrandPré","Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44
41865,Stephenie Meyer,"Twilight (Twilight, #1)",3.57
2657,Harper Lee,To Kill a Mockingbird,4.25
4671,F. Scott Fitzgerald,The Great Gatsby,3.89
11870085,John Green,The Fault in Our Stars,4.26
5907,J.R.R. Tolkien,The Hobbit,4.25
5107,J.D. Salinger,The Catcher in the Rye,3.79
960,Dan Brown,"Angels & Demons (Robert Langdon, #1)",3.85
1885,Jane Austen,Pride and Prejudice,4.24
77203,Khaled Hosseini,The Kite Runner,4.26
13335037,Veronica Roth,"Divergent (Divergent, #1)",4.24
5470,"George Orwell, Erich Fromm, Celâl Üster",1984,4.14
7613,George Orwell,Animal Farm,3.87
48855,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-Doubleday",The Diary of a Young Girl,4.1
2429135,"Stieg Larsson, Reg Keeland","The Girl with the Dragon Tattoo (Millennium, #1)",4.11
6148028,Suzanne Collins,"Catching Fire (The Hunger Games, #2)",4.3
5,"J.K. Rowling, Mary GrandPré, Rufus Beck","Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",4.53
34,J.R.R. Tolkien,"The Fellowship of the Ring (The Lord of the Rings, #1)",4.34
7260188,Suzanne Collins,"Mockingjay (The Hunger Games, #3)",4.03
2,"J.K. Rowling, Mary GrandPré","Harry Potter and the Order of the Phoenix (Harry Potter, #5)",4.46
12232938,Alice Sebold,The Lovely Bones,3.77
15881,"J.K. Rowling, Mary GrandPré","Harry Potter and the Chamber of Secrets (Harry Potter, #2)",4.37
6,"J.K. Rowling, Mary GrandPré","Harry Potter and the Goblet of Fire (Harry Potter, #4)",4.53
136251,"J.K. Rowling, Mary GrandPré","Harry Potter and the Deathly Hallows (Harry Potter, #7)",4.61
968,Dan Brown,"The Da Vinci Code (Robert Langdon, #2)",3.79
1,"J.K. Rowling, Mary GrandPré","Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54
7624,William Golding,Lord of the Flies,3.64
18135,"William Shakespeare, Robert Jackson",Romeo and Juliet,3.73
8442457,Gillian Flynn,Gone Girl,4.03
4667024,Kathryn Stockett,The Help,4.45
890,John Steinbeck,Of Mice and Men,3.84
930,Arthur Golden,Memoirs of a Geisha,4.08
10818853,E.L. James,"Fifty Shades of Grey (Fifty Shades, #1)",3.67
865,"Paulo Coelho, Alan R. Clarke",The Alchemist,3.82
3636,Lois Lowry,"The Giver (The Giver, #1)",4.12
100915,C.S. Lewis,"The Lion, the Witch, and the Wardrobe (Chronicles of Narnia, #1)",4.19
14050,Audrey Niffenegger,The Time Traveler's Wife,3.95
13496,George R.R. Martin,"A Game of Thrones (A Song of Ice and Fire, #1)",4.45
19501,Elizabeth Gilbert,"Eat, Pray, Love",3.51
28187,Rick Riordan,"The Lightning Thief (Percy Jackson and the Olympians, #1)",4.23
1934,Louisa May Alcott,"Little Women (Little Women, #1)",4.04
10210,"Charlotte Brontë, Michael Mason",Jane Eyre,4.1
15931,Nicholas Sparks,"The Notebook (The Notebook, #1)",4.06
4214,Yann Martel,Life of Pi,3.88
43641,Sara Gruen,Water for Elephants,4.07
19063,Markus Zusak,The Book Thief,4.36
4381,Ray Bradbury,Fahrenheit 451,3.97
49041,Stephenie Meyer,"New Moon (Twilight, #2)",3.52
30119,Shel Silverstein,Where the Sidewalk Ends,4.29
256683,Cassandra Clare,"City of Bones (The Mortal Instruments, #1)",4.12
428263,Stephenie Meyer,"Eclipse (Twilight, #3)",3.69
113436,Christopher Paolini,"Eragon (The Inheritance Cycle, #1)",3.86
11,Douglas Adams,"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2
5129,Aldous Huxley,Brave New World,3.97
1162543,Stephenie Meyer,"Breaking Dawn (Twilight, #4)",3.7
37435,Sue Monk Kidd,The Secret Life of Bees,4.01
2956,"Mark Twain, John Seelye, Guy Cardwell",The Adventures of Huckleberry Finn,3.8
24178,"E.B. White, Garth Williams, Rosemary Wells",Charlotte's Web,4.15
1618,Mark Haddon,The Curious Incident of the Dog in the Night-Time,3.85
22557272,Paula Hawkins,The Girl on the Train,3.88
119322,Philip Pullman,"The Golden Compass (His Dark Materials, #1)",3.94
16068905,Rainbow Rowell,Fangirl,4.12
6185,"Emily Brontë, Richard J. Dunn",Wuthering Heights,3.82
10917,Jodi Picoult,My Sister's Keeper,4.06
4981,Kurt Vonnegut Jr.,Slaughterhouse-Five,4.06
18405,Margaret Mitchell,Gone with the Wind,4.28
128029,Khaled Hosseini,A Thousand Splendid Suns,4.34
22628,Stephen Chbosky,The Perks of Being a Wallflower,4.21
11735983,Veronica Roth,"Insurgent (Divergent, #2)",4.07
375802,Orson Scott Card,"Ender's Game (Ender's Saga, #1)",4.3
18490,"Mary Wollstonecraft Shelley, Percy Bysshe Shelley, Maurice Hindle",Frankenstein,3.75
11588,Stephen King,The Shining (The Shining #1),4.17
1656001,Stephenie Meyer,"The Host (The Host, #1)",3.84
99561,John Green,Looking for Alaska,4.09
227443,Helen Fielding,"Bridget Jones's Diary (Bridget Jones, #1)",3.75
14935,"Jane Austen, Tony Tanner, Ros Ballaster",Sense and Sensibility,4.06
38709,"Louis Sachar, Louis Sachar","Holes (Holes, #1)",3.93
23966,Irvine Welsh,Filth,3.76
5139,Lauren Weisberger,"The Devil Wears Prada (The Devil Wears Prada, #1)",3.7
1381,"Homer, Robert Fagles, E.V. Rieu, Frédéric Mugler, Bernard Knox",The Odyssey,3.73
157993,"Antoine de Saint-Exupéry, Richard Howard, Dom Marcos Barbosa, Melina Karakosta",The Little Prince,4.28
7445,Jeannette Walls,The Glass Castle,4.24
1845,Jon Krakauer,Into the Wild,3.94
1953,"Charles Dickens, Richard Maxwell, Hablot Knight Browne",A Tale of Two Cities,3.81
7677,Michael Crichton,"Jurassic Park (Jurassic Park, #1)",3.96
370493,Shel Silverstein,The Giving Tree,4.38
32542,John Grisham,A Time to Kill,4.03
1617,"Elie Wiesel, Marion Wiesel",Night (The Night Trilogy #1),4.3
6442769,John Green,Paper Towns,3.88
21787,William Goldman,The Princess Bride,4.25
231804,S.E. Hinton,The Outsiders,4.06
6186357,James Dashner,"The Maze Runner (Maze Runner, #1)",4.02
1202,"Steven D. Levitt, Stephen J. Dubner","Freakonomics: A Rogue Economist Explores the Hidden Side of Everything (Freakonomics, #1)",3.93
2998,Frances Hodgson Burnett,The Secret Garden,4.12
320,"Gabriel García Márquez, Gregory Rabassa",One Hundred Years of Solitude,4.04
5297,"Oscar Wilde, Jeffrey Eugenides",The Picture of Dorian Gray,4.06
13536860,E.L. James,"Fifty Shades Freed (Fifty Shades, #3)",3.88
17245,"Bram Stoker, Nina Auerbach, David J. Skal",Dracula,3.98
5060378,"Stieg Larsson, Reg Keeland","The Girl Who Played with Fire (Millennium, #2)",4.22

Question 2: Write a query to find the least popular book.

In [22]:
-- return least popular book
SELECT TOP 1 average_rating, title AS 'least popular book'
FROM books
GROUP BY title, average_rating
ORDER BY average_rating ASC

average_rating,least popular book
2.47,One Night at the Call Center

Question 3: Which tag is the most popular?

In [29]:
-- return most popular tag
SELECT TOP 1 tag_id AS 'Most Popular Tag' 
FROM book_tags
ORDER BY count DESC

Most Popular Tag
30574

Question 4: What is the name of the most popular tag?

In [35]:
-- return name of most popular tag
SELECT TOP 5 (tag_name) AS 'most popular tag name', COUNT(*) AS 'Number of users with tag name'
FROM tags
GROUP BY tag_name
ORDER BY COUNT(*) DESC

most popular tag name,Number of users with tag name
Комиксы,2
Ποίηση,2
رضوى-عاشور,2
يوسف-زيدان,2
biographies-memoirs,2

Question 5: How many books where released in the first decade of 2000?

In [44]:
-- return number of books published in the first decade of 2000
SELECT  original_publication_year AS 'Publication Year', COUNT(*) AS 'Number of books published in years 2000-2010'
FROM books
WHERE  original_publication_year >= 2000 AND original_publication_year <=2010
GROUP BY original_publication_year
ORDER BY original_publication_year

Publication Year,Number of books published in years 2000-2010
2000,209
2001,226
2002,225
2003,288
2004,307
2005,326
2006,362
2007,363
2008,383
2009,432
2010,473

Question 6: How many book titles contain the word Happy?

In [48]:
-- return number of books that contain the word Happy
SELECT COUNT (*) AS 'Number of books containing the workd Happy'
FROM books
WHERE title LIKE '%happy%' OR title LIKE '%Happy%'

Number of books containing the workd Happy
13

Question 7: List the books from the top 3 authors from question 1.  If there is more than one author just use the first one. Sort the titles <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">alphabetically by author and then by average_rating, best rated to lowest. Does order matter in sorting?</span>

In [60]:
-- return all books from the top 3 authors, sort by author and rating
SELECT TOP 3 authors, book_id, title, average_rating AS 'Average Rating'
FROM books
GROUP BY authors,book_id,title, average_rating
ORDER BY authors, average_rating DESC;

authors,book_id,title,Average Rating
A. Manette Ansay,101911,Vinegar Hill,3.36
A. Meredith Walters,16081754,"Find You in the Dark (Find You in the Dark, #1)",3.98
A. Meredith Walters,16102880,"Bad Rep (Bad Rep, #1)",3.91

Question 8: Take a close look at J.K. Rowling.  Is her top rated book on this list from question 1?  Why might this be? How could we account for this?

> Click here to add your answer.
> 
> J.K. Rowlings book is not in the above query becasue we were asking for the output of the first 100 books in our table which J.K. Rowling is not apart of.

In [69]:
-- Try updating your above query to include all of J.K. Rowling's books
SELECT authors, book_id, title, average_rating AS "J.K. Rowling's Books"
FROM books
WHERE authors LIKE '%J.K. Rowling%'
GROUP BY authors,book_id,title, average_rating
ORDER BY average_rating DESC, authors;

authors,book_id,title,J.K. Rowling's Books
"J.K. Rowling, Mary GrandPré",8,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77
J.K. Rowling,862041,"Harry Potter Boxset (Harry Potter, #1-7)",4.74
J.K. Rowling,10,"Harry Potter Collection (Harry Potter, #1-6)",4.73
"J.K. Rowling, Mary GrandPré",99298,"The Harry Potter Collection 1-4 (Harry Potter, #1-4)",4.66
"J.K. Rowling, Mary GrandPré",136251,"Harry Potter and the Deathly Hallows (Harry Potter, #7)",4.61
J.K. Rowling,1317181,"Harry Potter and the Order of the Phoenix (Harry Potter, #5, Part 1)",4.56
"J.K. Rowling, Mary GrandPré",1,"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54
"J.K. Rowling, Mary GrandPré",6,"Harry Potter and the Goblet of Fire (Harry Potter, #4)",4.53
"J.K. Rowling, Mary GrandPré, Rufus Beck",5,"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",4.53
"J.K. Rowling, Mary GrandPré",2,"Harry Potter and the Order of the Phoenix (Harry Potter, #5)",4.46
"J.K. Rowling, Mary GrandPré",3,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44
J.K. Rowling,30065028,Fantastic Beasts and Where to Find Them: The Original Screenplay,4.41
J.K. Rowling,2002,Harry Potter Schoolbooks Box Set: Two Classic Books from the Library of Hogwarts School of Witchcraft and Wizardry,4.4
"J.K. Rowling, Mary GrandPré",15881,"Harry Potter and the Chamber of Secrets (Harry Potter, #2)",4.37
"J.K. Rowling, Joel Holland",23731881,Very Good Lives: The Fringe Benefits of Failure and the Importance of Imagination,4.26
"J.K. Rowling, MinaLima",31538635,"Short Stories from Hogwarts of Heroism, Hardship and Dangerous Hobbies (Pottermore Presents, #1)",4.22
J.K. Rowling,31538647,"Hogwarts: An Incomplete and Unreliable Guide (Pottermore Presents, #3)",4.21
"Robert Galbraith, J.K. Rowling",25735012,"Career of Evil (Cormoran Strike, #3)",4.21
"J.K. Rowling, MinaLima",31538614,"Short Stories from Hogwarts of Power, Politics and Pesky Poltergeists (Pottermore Presents, #2)",4.2
"Melissa Anelli, J.K. Rowling",3130430,"Harry, a History: The True Story of a Boy Wizard, His Fans, and Life Inside the Harry Potter Phenomenon",4.09
J.K. Rowling,3950967,The Tales of Beedle the Bard,4.06
"Robert Galbraith, J.K. Rowling",18214414,"The Silkworm (Cormoran Strike, #2)",4.03
"Newt Scamander, J.K. Rowling, Albus Dumbledore",41899,Fantastic Beasts and Where to Find Them,3.95
"Kennilworthy Whisp, J.K. Rowling",111450,Quidditch Through the Ages,3.85
"Robert Galbraith, J.K. Rowling",16160797,"The Cuckoo's Calling (Cormoran Strike, #1)",3.83
"John Tiffany, Jack Thorne, J.K. Rowling",29056083,"Harry Potter and the Cursed Child - Parts One and Two (Harry Potter, #8)",3.75
J.K. Rowling,13497818,The Casual Vacancy,3.28

Try updating your above query to include all of J.K. Rowling's books.

Are there any other issues?

> Click here to add your answer.
> 
> Some books are not solely written by J.K. Rowling

Question 9: Write a query that returns the number of Authors whose first name is between rock and roll.

In [70]:
-- return number of authors whose first name is between rock and roll
SELECT authors
FROM books
WHERE authors BETWEEN 'rock' AND 'roll'

authors
Rohinton Mistry
"Roger Fisher, William Ury, Bruce Patton"
Roger Zelazny
Rodman Philbrick
"Roland Barthes, Richard Howard"
Roger Zelazny
"Roger Zelazny, Sönmez Güven"
Rohinton Mistry
Roger Lowenstein
Roland Smith
Roddy Doyle
Roger Zelazny
Rod Campbell
Rolf Potts
Roger Zelazny
Roland Smith
Rolf Dobelli
Roland Merullo
Roger Zelazny
Roddy Doyle
"Roland Barthes, Annette Lavers"
Roger Zelazny
"Roderick Gordon, Brian Williams"
"Roger Lea MacBride, David Gilleece"
Roger Zelazny

## Part 2. Write your own question and write a query to answer it.

Your Question:  Which books are the 3 least popular?

In [74]:
-- Add your querry here
SELECT TOP 3 title AS 'Bottom 3 books', average_rating
FROM books
ORDER BY average_rating ASC

Bottom 3 books,average_rating
One Night at the Call Center,2.47
The Almost Moon,2.67
The Finkler Question,2.76

Your Question: Click here to add: What year were the most books were published?

In [79]:
-- Add your querry here
SELECT original_publication_year, COUNT(original_publication_year) AS 'Number of books published'
FROM books
GROUP BY original_publication_year
ORDER BY COUNT(original_publication_year) DESC

original_publication_year,Number of books published
2012,568
2011,556
2013,518
2010,473
2014,437
2009,432
2008,383
2007,363
2006,362
2005,326
2004,307
2015,306
2003,288
2001,226
2002,225
2000,209
2016,198
1999,186
1998,172
1997,168
1996,163
1995,126
1994,121
1993,115
1992,112
1990,99
1991,98
1988,89
1989,87
1987,83
1986,78
1985,77
1982,75
1984,67
1977,56
1980,54
1981,50
1978,48
1979,48
1983,44
1975,40
1974,40
1976,39
1973,35
1968,35
1961,33
1970,33
1962,32
1969,32
1971,31
1963,31
1972,30
1953,26
1956,26
1959,24
1967,24
1955,24
1958,24
1965,23
1947,22
1960,22
1966,21
1954,21
1940,19
1942,19
1952,19
1964,19
1957,19
1938,17
1936,17
1945,16
1948,16
1943,15
1939,15
1946,14
1950,14
1937,14
1930,14
1949,13
1927,13
1951,13
1926,12
2017,11
1922,11
1941,11
1933,11
1925,11
1944,10
1929,10
1934,10
1915,10
1932,10
1924,9
1912,9
1886,9
1843,8
1895,8
1899,8
1935,8
1920,7
1928,7
1908,7
1900,6
1919,6
1904,6
1923,6
1865,6
1880,6
1894,6
1902,6
1905,6
1859,6
1890,6
1848,6
1897,6
1931,5
1844,5
1776,5
1871,5
1853,5
1849,5
1906,5
1913,5
1887,5
1909,5
1872,5
1914,5
1869,5
1884,4
1812,4
1861,4
1888,4
1876,4
1854,4
1847,4
1903,4
1842,4
1911,4
1862,4
1892,4
1885,4
1845,4
1868,4
1901,4
1916,4
1840,3
1689,3
1599,3
1874,3
1595,3
1833,3
1893,3
1864,3
1603,3
1883,3
1320,3
1860,3
1921,3
-500,3
1866,3
1881,3
1889,3
1896,3
1910,3
1839,3
1857,3
1835,3
1891,3
1623,2
1918,2
1850,2
1729,2
1907,2
-385,2
1820,2
1855,2
1813,2
-350,2
1877,2
-400,2
1787,2
1390,2
1851,2
1817,2
1836,2
1830,2
1637,2
1600,2
-458,2
1917,2
1819,2
1841,2
1856,2
1878,2
1882,2
-750,2
-411,2
1606,2
1550,1
1818,1
1852,1
1791,1
1867,1
1516,1
1667,1
1814,1
1485,1
1863,1
1380,1
1519,1
397,1
1353,1
-430,1
1678,1
8,1
609,1
1308,1
1837,1
1591,1
1825,1
1796,1
1785,1
1641,1
1532,1
1834,1
1120,1
1807,1
-441,1
1554,1
1815,1
1596,1
1418,1
1513,1
1898,1
1781,1
1664,1
-390,1
-720,1
-440,1
1762,1
1645,1
-476,1
1611,1
1879,1
1811,1
800,1
1826,1
119,1
1592,1
1838,1
1719,1
-762,1
1590,1
-330,1
1605,1
-560,1
1651,1
-380,1
1764,1
1798,1
1832,1
1749,1
1598,1
1666,1
1722,1
-1750,1
1273,1
-431,1
-17,1
1726,1
975,1
1594,1
1677,1
1759,1
1691,1
1593,1
-335,1
1846,1
1563,1
1831,1
1748,1
1597,1
1604,1
-300,1
180,1
1782,1
1767,1
1789,1
1589,1
-401,1
1808,1
1601,1
1774,1
NULL,0

**Some Question Examples:**

Write a query that returns the longest title?

Which Author has written the most books?  

Top  ten books written the year I was born?